{% load static %}
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:index' %}">Blog Cats & Dogs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" >Blog</a></li>
                <li class="nav-item"><a class="nav-link {%  if '/aboutme' in request.path %}active{% endif %}" href="{% url 'aboutme:aboutme' %}">About Me</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link {%  if '/adminblog' in request.path %}active{% endif %}" aria-current="page" href="{% url 'adminblog:pages' %}">Administrar</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}">Salir</a></li>
                        <li class="nav-item">
                            <a href="{% url 'account:profileupdate' user.id %}">
                            {% if user.avatar  %}
                                <img src="{{ user.avatar.url }}" alt="avatar" class="img-fluid rounded-circle" style="height: 30px;" >
                             {% else %}
                                <img src="{% static 'account/img/admin-default.png' %}" data-toggle="tooltip" data-placement="bottom" title="{{ user.username }}" class="img-fluid rounded-circle" style="height: 30px;" >
                            {% endif %}
                            </a>
                        </li>

                    
                {% else %}
                    <li class="nav-item"><a class="nav-link {% if request.path == '/account/login/' %}active{% endif %}" href="{% url 'account:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/account/newregister/' %}active{% endif %}" href="{% url 'account:newregister' %}">Registro</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>    


