{% extends 'home/base.html' %}


{% block CONTENT %}
<div class="container mt-5">
        
        {% block title %}
        {% endblock title%}

        {% block search %}
        {% endblock search%}
    
        {% block list %}
            <div class="container">
                <table class="table table-striped table-responsive">
                    <thead>
                        {% block table_header %}
                        {% endblock table_header %}
                    </thead>
                    <tbody>
                        {% block table_body %}
                        {% endblock table_body %}
                    </tbody>
                </table>
            </div>
            {% if object_list.count == 0  %}
                <p class="mt-5 fw-semibold text-center"> No hay Registros en la Base de Datos</p>
            {% endif %}
        {% endblock list %}
</div>
{% endblock CONTENT %}