    {% extends 'home/base.html' %}

{% block CONTENT %}

    {% block title %}
        <h3 class="text-center">Administrar Página del Blog</h3>
    {% endblock title %}

    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.media }}

        {% for field in form %}
            <div class="form-outline mb-4 w-75 m-auto">
                <div class="w-100">{{ field.label_tag }}</div>
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <div class="mt-4 w-75 m-auto ">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a  class="btn btn-secondary" href="{% url 'adminblog:pages' %}">Cancelar</a>
        </div>
    </form>

{% endblock CONTENT %}