{% extends 'blog/list.html' %}


{% block title %}

    <h3 class="text-center">Administrar Páginas del Blog</h3>
    
{% endblock title %}

{% block search %}


    <div class="py-lg-4 d-flex justify-content-end">
        <span> <a class="link-info" href="{% url 'blog:page_create' %}">+ Agregar Nueva Página</a></span>
    </div>

    <div class="py-lg-4">
        <form action="{% url 'blog:pages' %}" method="get">
            <input class="form-control" name="consulta" type="text" placeholder="Buscar por Título ...">
        </form>
    </div>

    

{% endblock search %}
 
{% block table_header %}
    <tr>
        <th style="width: 60%;">Título Página</th>
        <th style="width: 40%;" colspan="4"></th>
    </tr>
{% endblock table_header %}

{% block table_body %}
    {% for page in object_list %}
        <tr>
            <td>{{ page.title }}</td>
            <td>
                {% if page.status %}
                    <a href="" class="btn btn-dark btn-sm">Despublicar</a>    
                {% else %}
                    <a href="" class="btn btn-dark btn-sm">Publicar</a>    
                {% endif %}
            <td>
                <a href=""
                   class="btn btn-secondary btn-sm">Previsualizar</a>
            </td>
            <td>
                <a href=""
                   class="btn btn-primary btn-sm">Actualizar</a>
            </td>
            <td>
                <a href=""
                   class="btn btn-danger btn-sm" >Eliminar</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}